/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/k3.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
    /* 1. LED SUBSYSTEM (adds pins to /sys/class/leds/) */
    cape_leds {
        compatible = "gpio-leds";
        pinctrl-names = "default";
        pinctrl-0 = <&cape_led_pins>;

        led_red {
            label = "red";
            gpios = <&main_gpio0 15 GPIO_ACTIVE_HIGH>; /* P8_7 */
            default-state = "off";
        };
        led_grn {
            label = "green";
            gpios = <&main_gpio0 14 GPIO_ACTIVE_HIGH>; /* P8_8 */
            default-state = "off";
        };
        led_bat1 {
            label = "bat1";
            gpios = <&main_gpio0 3 GPIO_ACTIVE_HIGH>; /* P8_17 */
            default-state = "off";
        };
        led_bat2 {
            label = "bat2";
            gpios = <&main_gpio0 4 GPIO_ACTIVE_HIGH>; /* P8_18 */
            default-state = "off";
        };
        led_bat3 {
            label = "bat3";
            gpios = <&main_gpio0 51 GPIO_ACTIVE_HIGH>; /* P8_26 */
            default-state = "off";
        };
        led_bat4 {
            label = "bat4";
            gpios = <&main_gpio0 75 GPIO_ACTIVE_HIGH>; /* P8_14 */
            default-state = "off";
        };
    };

    /* 2. BUTTONS SUBSYSTEM (Handles pins as keys) */
    cape_buttons {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&cape_btn_pins>;

        pause_btn {
            label = "pause";
            linux,code = <KEY_PAUSE>;
            gpios = <&main_gpio0 17 GPIO_ACTIVE_LOW>; /* P8_9 */
        };
        mode_btn {
            label = "mode";
            linux,code = <KEY_MODE>;
            gpios = <&main_gpio0 16 GPIO_ACTIVE_LOW>; /* P8_10 */
        };
    };
};

/* 3. PIN MULTIPLEXER (PINMUX) */
&main_pmx0 {
    /* LED mapping */
    cape_led_pins: cape-led-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x03C, PIN_OUTPUT, 7) /* P8_7  (GPIO0_15) */
            J721E_IOPAD(0x038, PIN_OUTPUT, 7) /* P8_8  (GPIO0_14) */
            J721E_IOPAD(0x130, PIN_OUTPUT, 7) /* P8_14 (GPIO0_75) */
            J721E_IOPAD(0x00C, PIN_OUTPUT, 7) /* P8_17 (GPIO0_3)  */
            J721E_IOPAD(0x010, PIN_OUTPUT, 7) /* P8_18 (GPIO0_4)  */
            J721E_IOPAD(0x0D0, PIN_OUTPUT, 7) /* P8_26 (GPIO0_51) */
        >;
    };

    /* Button mapping */
    cape_btn_pins: cape-btn-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x044, PIN_INPUT_PULLUP, 7) /* P8_9  (GPIO0_17) */
            J721E_IOPAD(0x040, PIN_INPUT_PULLUP, 7) /* P8_10 (GPIO0_16) */
        >;
    };

    /* SPI7 bus mapping (includes GPIO chip select) */
    cape_spi7_pins: cape-spi7-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x230, PIN_OUTPUT, 6) /* P9_28: SPI7_CS0 */
            J721E_IOPAD(0x23C, PIN_INPUT,  6) /* P9_29: SPI7_D1 (MISO) */
            J721E_IOPAD(0x238, PIN_OUTPUT, 6) /* P9_30: SPI7_D0 (MOSI) */
            J721E_IOPAD(0x234, PIN_OUTPUT, 6) /* P9_31: SPI7_CLK */
            J721E_IOPAD(0x028, PIN_OUTPUT, 7) /* P9_23: GPIO0_10 (Soft CS2) */
        >;
    };
    
    /* PWM mapping */
    cape_epwm0_pins: cape-epwm0-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x164, PIN_OUTPUT, 6) /* P8_19: EHRPWM0_A */
            J721E_IOPAD(0x168, PIN_OUTPUT, 6) /* P8_13: EHRPWM0_B */
        >;
    };

    cape_epwm2_pins: cape-epwm2-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x178, PIN_OUTPUT, 6) /* P9_14: EHRPWM2_A */
            J721E_IOPAD(0x17C, PIN_OUTPUT, 6) /* P9_16: EHRPWM2_B */
        >;
    };

    /* EQEP mapping */
    cape_eqep0_pins: cape-eqep0-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x1F0, PIN_INPUT,  5) /* P9_42: EQEP0_A */
            J721E_IOPAD(0x1F4, PIN_INPUT,  5) /* P9_27: EQEP0_B */
        >;
    };

    cape_eqep1_pins: cape-eqep1-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x064, PIN_INPUT,  9) /* P8_35: EQEP1_A */
            J721E_IOPAD(0x068, PIN_INPUT,  9) /* P8_33: EQEP1_B */
        >;
    };

    /* UART2 bus mapping (connected to UART1 connector of the robotics cape) */
    cape_uart2_pins: cape-uart2-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x1E0, PIN_OUTPUT, 3) /* P9_24: UART2_TXD */
            J721E_IOPAD(0x1DC, PIN_INPUT,  3) /* P9_26: UART2_RXD */
        >;
    };

    /* UART5 bus mapping */
    cape_uart5_pins: cape-uart5-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x1AC, PIN_OUTPUT, 3) /* P8_37: UART5_TXD */
            J721E_IOPAD(0x1A8, PIN_INPUT,  3) /* P8_38: UART5_RXD */
        >;
    };

    /* I2C2 bus mapping (connected to IMU and barometer) */
    cape_i2c2_pins: cape-i2c2-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x208, PIN_INPUT,  4) /* P9_19: I2C2_SCL */
            J721E_IOPAD(0x20C, PIN_INPUT,  4) /* P9_20: I2C2_SDA */
        >;
    };

    /* I2C6 bus mapping (connected to I2C connector of the robotics cape) */
    cape_i2c6_pins: cape-i2c6-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x1D0, PIN_INPUT,  2) /* P9_17: I2C6_SCL */
            J721E_IOPAD(0x1E4, PIN_INPUT,  2) /* P9_18: I2C6_SDA */
        >;
    };

    /* Analog input mapping */
    cape_adc_pins: cape-adc-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x148, PIN_INPUT,  0) /* P9_35: MCU_ADC_AIN6 */
            J721E_IOPAD(0x144, PIN_INPUT,  0) /* P9_36: MCU_ADC_AIN5 */
            J721E_IOPAD(0x138, PIN_INPUT,  0) /* P9_37: MCU_ADC_AIN2 */
            J721E_IOPAD(0x13C, PIN_INPUT,  0) /* P9_38: MCU_ADC_AIN3 */
            J721E_IOPAD(0x130, PIN_INPUT,  0) /* P9_39: MCU_ADC_AIN0 */
            J721E_IOPAD(0x134, PIN_INPUT,  0) /* P9_40: MCU_ADC_AIN1 */
        >;
    };

    /* PRU_IO mapping */
    cape_pru0_0_pins: cape-pru0_0-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x0F4, PIN_INPUT,  1) /* P8_11: PRG0_PRU0_GPI17 (QEP_2B) */
            J721E_IOPAD(0x0F0, PIN_INPUT,  1) /* P8_12: PRG0_PRU0_GPI16 (QEP_2A) */
            J721E_IOPAD(0x0F8, PIN_INPUT,  1) /* P8_15: PRG0_PRU0_GPI18 (QEP_4B) */
            J721E_IOPAD(0x0FC, PIN_INPUT,  1) /* P8_16: PRG0_PRU0_GPI19 (QEP_4A) */
        >;
    };

    cape_pru0_1_pins: cape-pru0_1-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x120, PIN_OUTPUT, 0) /* P8_27: PRG0_PRU1_GPO8 (SVO1) */
            J721E_IOPAD(0x124, PIN_OUTPUT, 0) /* P8_28: PRG0_PRU1_GPO9 (SVO2) */
            J721E_IOPAD(0x128, PIN_OUTPUT, 0) /* P8_29: PRG0_PRU1_GPO10 (SVO3) */
            J721E_IOPAD(0x12C, PIN_OUTPUT, 0) /* P8_30: PRG0_PRU1_GPO11 (SVO4) */
            J721E_IOPAD(0x118, PIN_OUTPUT, 0) /* P8_39: PRG0_PRU1_GPO6 (SVO5) */
            J721E_IOPAD(0x11C, PIN_OUTPUT, 0) /* P8_40: PRG0_PRU1_GPO7 (SVO6) */
            J721E_IOPAD(0x110, PIN_OUTPUT, 0) /* P8_41: PRG0_PRU1_GPO4 (SVO7) */
            J721E_IOPAD(0x114, PIN_OUTPUT, 0) /* P8_42: PRG0_PRU1_GPO5 (SVO8) */
        >;
    };

    cape_pru1_0_pins: cape-pru1_0-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x004, PIN_INPUT,  1) /* P9_11: PRG1_PRU0_GPI0 (UART4_RX) */
        >;
    };

    cape_pru1_1_pins: cape-pru1_1-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x0A0, PIN_OUTPUT, 0) /* P9_21: PRG1_PRU1_GPO18 (UART2_TX) */
            J721E_IOPAD(0x09C, PIN_INPUT,  1) /* P9_22: PRG1_PRU1_GPI17 (UART2_RX) */
        >;
    };

    /* Other GPIO pins mapping */
    cape_gpio_pins: cape-gpio-pins {
        pinctrl-single,pins = <
            J721E_IOPAD(0x01C, PIN_OUTPUT, 7) /* P8_34: GPIO0_7 (MDIR_2B) */
            J721E_IOPAD(0x020, PIN_OUTPUT, 7) /* P8_36: GPIO0_8 (SERVO_EN) */
            J721E_IOPAD(0x108, PIN_OUTPUT, 7) /* P8_43: GPIO0_65 (MDIR_3B) */
            J721E_IOPAD(0x10C, PIN_OUTPUT, 7) /* P8_44: GPIO0_66 (MDIR_3A) */
            J721E_IOPAD(0x140, PIN_OUTPUT, 7) /* P8_45: GPIO0_79 (MDIR_4A) */
            J721E_IOPAD(0x144, PIN_OUTPUT, 7) /* P8_46: GPIO0_80 (MDIR_4B) */
            J721E_IOPAD(0x0B8, PIN_OUTPUT, 7) /* P9_12: GPIO0_45 (MDIR_1A) */
            J721E_IOPAD(0x008, PIN_OUTPUT, 7) /* P9_13: GPIO0_2 (MDIR_1B) */
            J721E_IOPAD(0x0C0, PIN_OUTPUT, 7) /* P9_15: GPIO0_47 (MDIR_2A) */
            J721E_IOPAD(0x200, PIN_INPUT, 7) /* P9_25: GPIO0_127 (IMU_INT) */
            J721E_IOPAD(0x204, PIN_OUTPUT, 7) /* P9_41: GPIO1_0 (MOT_STBY) */
        >;
    };
};

/* 4. Hybrid SPI driver configuration */
&main_spi7 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_spi7_pins>;
    
    #address-cells = <1>;
    #size-cells = <0>;
    
    /* Configure CS1 on GPIO (P9_23) */
    cs-gpios = <0>, <&main_gpio0 10 GPIO_ACTIVE_LOW>;

    /* SS1 device (Hardware CS) */
    spidev_1: spidev@0 {
        compatible = "rohm,dh2228fv"; /* Generic driver for /dev/spidev7.0 */
        spi-max-frequency = <24000000>;
        reg = <0>;
    };

    /* SS2 device (Software CS) */
    spidev_2: spidev@1 {
        compatible = "rohm,dh2228fv"; /* Generic driver for /dev/spidev7.1 */
        spi-max-frequency = <24000000>;
        reg = <1>;
    };
};

&epwm0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_epwm0_pins>;
};

&epwm2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_epwm2_pins>;
};

&eqep0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_eqep0_pins>;
};

&eqep1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_eqep1_pins>;
};

&main_uart2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_uart2_pins>;
};

&main_uart5 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_uart5_pins>;
};

&main_i2c2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_i2c2_pins>;
    clock-frequency = <400000>; /* Recommended I2C speed for IMU sensors */
};

&main_i2c6 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_i2c6_pins>;
    clock-frequency = <400000>;
};

&mcu_adc0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_adc_pins>;
};

/*  Cluster 0 PRU 0 (Soft-Encoders QEP_2 and QEP_4) */
&icssg0_pru0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_pru0_0_pins>;
};

/* Cluster 0 PRU 1 (Servos 1-8) */
&icssg0_pru1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_pru0_1_pins>;
};

/* Cluster 1 PRU 0 (Soft-UART4 RX) */
&icssg1_pru0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_pru1_0_pins>;
};

/* Cluster 1 PRU 1 (Soft-UART2 TX/RX) */
&icssg1_pru1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&cape_pru1_1_pins>;
};
